.petitions__title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 110%;
  min-height: 125px;
  margin: 0;
}