.user__input {
  background: #FDFDFD;
  border: none;
  font-family: 'Lora', sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #8E9295;
  padding: 14px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.user__input:hover {
  outline: 1px solid #4F92F6;;
}

.user__input:focus {
  outline: 2px solid #8E9295;
}