.petitions__item {
  background: #F4F5FF;
  min-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 14px #C9CEFF;
  border-radius: 10px;
  cursor: pointer;
}