.petitions__item {
  background: #f4f5ff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 14px #c9ceff;
  border-radius: 10px;
  cursor: pointer;
}
