.header__add-btn {
  background: #fff url(../../../images/btn_plus.svg) no-repeat right center content-box;
  width: 160px;
  height: 50px;
  border: 2px solid transparent;
  border-image: linear-gradient(89.87deg, #8E4FF6 26.68%, #4F92F6 92.81%);
  border-image-slice: 1;

  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  text-align: left;

  padding: 0 20px;
  margin-left: auto;

  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.header__add-btn:hover {
  opacity: 0.6;
}

.header__add-btn:focus {
  outline: none;
}