.opened-petition__reactions {
  background: #8E9295;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 40px;
  height: 35px;
  padding: 0 10px;
}

.opened-petition_type_culture .opened-petition__reactions {
  background:#C12B0A;
}

.opened-petition_type_politics .opened-petition__reactions {
  background:#08439B;
}

.opened-petition_type_social .opened-petition__reactions {
  background:#C1A60A;
}

.opened-petition_type_transport .opened-petition__reactions {
  background: #500AC1;
}