.add-new__poem-title {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  line-height: 140%;
}

@media screen and (max-width: 700px) {
  .add-new__poem-title {
    margin: 0;
    border-top: none;
    border-radius: 0;
    font-size: 16px;
  }
}