.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  outline: 2px solid black;
  min-height: 100vh;
  background: #fff;
  padding: 0px 5.4%;
  box-sizing: border-box;
}