.button {
  height: 50px;
  background-image: linear-gradient(to right, #8E4FF6, #4F92F6);
  border: none;
  outline: none;
  font-family: 'Open Sans Condensed';
  font-size: 22px;
  line-height: 140%;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}