.button {
  height: 50px;
  background: #3F5BFB;
  border: none;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  line-height: 140%;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(153, 162, 255, 0.6);
  border-radius: 5px;
}

@media screen and (max-width: 720px) {
  .button {
    font-size: 16px;
  }
}