.user__pass-label {
  position: relative;
  margin-bottom: 40px;
  background: #FDFDFD;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .user__pass-label {
    margin-bottom: 25px;
    border-radius: 5px;
  }
}
