.add-new__poem-text {
  grid-column: 3/5;
  grid-row: 2/3;
  min-height: 210px;
  border: 2px solid #8E9295;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  white-space: pre-line;
}
