.add-new__form {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto 60px;
  box-sizing: border-box;
  padding: 0 39px;
  font-family: 'Alegreya', sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #5D7DAD;
}

@media screen and (max-width: 800px) {
  .add-new__form {
    padding: 0 30px;
  }
}

@media screen and (max-width: 550px) {
  .add-new__form {
    padding: 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .add-new__form {
    padding: 0 20px;
  }
}