.add-new__container {
  grid-column: 1/3;
  grid-row: 6;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .add-new__container {
    grid-column: 1;
    grid-row: 8;
    justify-content: center;
  }
}