.header__quite-btn {
  border: none;
  outline: none;
  background: none;
  font-size: 22px;
  font-weight: 700;
  text-align: start;
  color: #5D7DAD;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .header__quite-btn  {
    font-size: 16px;
    line-height: 110%;
  }
}