.opened-petition__title {
  white-space: pre-line;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 110%;
  margin: 0;
  color: #FDFDFD;
  margin-bottom: 40px;
}