.user__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 140px;
  text-transform: uppercase;
  color: #101010;
}