.opened-petition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F4F4;
}

.opened-petition::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 160px;
  height: 160px;
  background: rgba(142, 79, 246, .5);
}