.btn {
  background: #000;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 0;
  color: #fff;
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn:hover {
  opacity: 0.6;
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .btn {
    width: 22px;
    height: 22px;
  }
}
