.add-new__image {
  position: relative;
  width: 100%;
  max-width: 48%;
  background: rgba(215, 229, 250, 0.25);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-new__image:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  background-image: url("../../../images/add-new__image-btn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
  transition: all .5s ease;
  cursor: pointer;
}

.add-new__image:hover.add-new__image::before {
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .add-new__image {
    max-width: 100%;
    height: 200px;
  }
}