.add-new__image {
  position: relative;
  background: #F4F4F4;
  cursor: pointer;
  grid-column: 1/3;
  grid-row: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new__image:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  background-image: url("../../../images/add-new__image-btn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
  transition: all .5s ease;
}

.add-new__image:hover.add-new__image::before {
  opacity: 1;
}