.opened-petition__image {
  position: relative;
  width: 86%;
  height: 350px;
  margin: -22px 0 0;
  background-image: url('../../../images/opened-petition__image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}