.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 39px;
  margin: 0 auto;
  border-bottom: 1px solid #DDE0FF;
  font-family: 'Alegreya', sans-serif;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 15px 39px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 20px;
  }
}