.opened-petition__info {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: max-content;
  background: #8E9295;
  padding: 10px 10px 50px 10px;
  font-family: 'Lora', sans-serif;
}

.opened-petition_type_culture .opened-petition__info {
  background: #F66D4F;
}

.opened-petition_type_politics .opened-petition__info {
  background: #4F92F6;
}

.opened-petition_type_social .opened-petition__info {
  background: #F6DD4F;
}

.opened-petition_type_transport .opened-petition__info{
  background: #8E4FF6;
  color: #FDFDFD;
}