.opened-petition__author {
  align-self: flex-end;
  line-height: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #101010;
}